.container {}

.header {
    color: #707070;
    font-size:40px;
    text-align: center;
    font-family: inherit;
    margin-bottom: 50px;
    margin-top: 30px;
}

.center {
    text-align: center;
}

.title {
    color: #707070;
    font-size: 22px;
    font-family: inherit;
}


.products-list {
    height: 400px;
    overflow: auto;
}

.specifications {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.btn-finalized {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.subtotal-container {
    width: 100%;
    border: 1px solid #007bff;
    border-radius: 10px;
    margin-top: 30px;
}

.title-value {
    color: white;
    font-family: inherit;
    font-size: 27px;
    background: #007bff;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.value-number {
    text-align: right;
    font-family: inherit;
    font-size: 27px;
    color: #707070;
}