.stock-container {
    padding: 20px 20% 20%;
}

.title {
    display: flex;
    font-size: 30px;    
    justify-content: center;
}

.btn-container {
    display: flex;
    justify-content: space-around;
}